<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link libreria fa -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- link css -->
    <link rel="stylesheet" href="stile.css">
    <title>Boolzapp - a (not very) innovative messaging platform</title>
</head>
<body>
    <header></header>
    <div id="app">
        <div id="interfacciaUtente">
            <div id="myProfile">
                <div class="user">
                    <img src="img/avatar_io.jpg" alt="">
                    <div class="name">Sofia</div>
                </div>
                <div class="btns">
                    <button><i class="fa-solid fa-circle-notch"></i></button>
                    <button><i class="fa-solid fa-message"></i></button>
                    <button><i class="fa-solid fa-ellipsis-vertical"></i></button>
                </div>
            </div>
            <div id="notifiche">
                <div>
                    <i class="fa-solid fa-bell-slash"></i>
                </div>
                <div>
                    <h1>Ricevi le notifiche di nuovi messaggi</h1>
                    <a href="">Attiva notifiche desktop</a>
                </div>
            </div>
            <div id="search">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
                <input type="text" v-model.trim="searchStr" placeholder="Cerca o inizia una nuova chat">
            </div>
            <div id="chatList">
                <div v-for="(element,index) in chat" v-if="element.name.toLowerCase().includes(searchStr.toLowerCase())||searchStr==''" class="chat" :class="{active: index==activeIndex}" @click="activeIndex=index">
                    <div class="user">
                        <img :src="element.foto" alt="">
                        <div class="info">
                            <div class="name">{{element.name}}</div>
                            <div class="last-message">{{getLastText(index)}}</div>
                            <div class="ora">{{getDateOfLastText(index)}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="chatAperta">
            <div id="interlocutore">
                <div class="user">
                    <img :src="chat[activeIndex].foto" alt="">
                    <div class="info">
                        <div class="name">{{chat[activeIndex].name}}</div>
                        <div class="accesso">Ultimo accesso oggi alle 12:00</div>
                    </div>
                </div>
                <div class="btns">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                    <button><i class="fa-solid fa-paperclip"></i></button>
                    <button><i class="fa-solid fa-ellipsis-vertical"></i></button>
                </div>
            </div>
            <div id="conversazione">
                <div v-for="(message, index) in chat[activeIndex].messages" :key="message.ora" class="messaggio" :class="message.sent?'inviato':'ricevuto'">
                    <div @click="message.clicked=!message.clicked" class="text">
                        {{message.text}}
                        <div class="dropdown">
                            <i class="fa-solid fa-angle-down"></i>
                            <div v-if="message.clicked" class="menu">
                                <div>Info messaggio</div>
                                <div @click="deleteText(index)">Cancella messaggio</div>
                            </div>
                        </div>
                        <div class="ora">{{message.ora}}</div>
                    </div>
                </div>
            </div>
            <div id="textArea">
                <button><i class="fa-regular fa-face-smile"></i></button>
                <input v-model.trim="newText" @keydown.enter="sendText" type="text" placeholder="Scrivi un messaggio">
                <button><i class="fa-solid fa-microphone"></i></button>
            </div>
        </div>
    </div>
    <!-- link vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <!-- link js -->
    <script src="script.js"></script>
</body>
</html>