/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --icons-color: #6b7376ff;
}

body {
    background-color: #d8dbd6ff;
    position: relative;
}

header {
    height: 100px;
    background-color: #009688ff;
}

#app {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    height: calc(100vh - 20px);
    width: 1000px;
}

#interfacciaUtente {
    flex-basis: 35%;
    height: 100%;
    background-color: red;
}

#notifiche {
    height: 70px;
    background-color: #8edafcff;
}

#search {
    display: flex;
    background-color: #fafafaff;
    padding: .5em;
    height: 40px;
    align-items: center;
    justify-content: center;
}

#search button {
    background-color: white;
    padding: .5em;
    font-size: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(40px - 1em);
}

#search input {
    margin-left: 2px;
    flex-grow: 1;
    border: none;
    padding: 1em;
    height: calc(40px - 1em);
}

#chatAperta {
    flex-basis: 65%;
    height: 100%;
}

#myProfile, #interlocutore {
    height: 50px;
    background-color: #eaeaeaff;
}

#conversazione {
    height: calc(100% - 100px);
    background-image: url(img/mine.jpg);
    overflow-y: scroll;
}

#textArea {
    height: 50px;
    background-color: #f3eeeaff;
    display: flex;
    padding: 5px;
}

button {
    flex-basis: 50px;
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    color: var(--icons-color);
}

#textArea input {
    flex-grow: 1;
    padding: 5px;
}