/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --icons-color: #b1b1b1ff;
    --secondary-color: #6b739bff;
    font-family: sans-serif;
    font-size: 14px;
}

.accesso, .ora, .last-message {
    color: var(--secondary-color);
    font-size: .7rem;
}

body {
    background-color: #d8dbd6ff;
    position: relative;
}

header {
    height: 100px;
    background-color: #009688ff;
}

#app {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    height: calc(100vh - 20px);
    width: 1000px;
}

.user {
    display: flex;
    align-items: center;
    padding: .5em;
    gap: .5em;
}

.user img{
    height: 2.5em;
    width: 2.5em;
    border-radius: 50%;
}

.name {
    font-weight: bold;
}

#interfacciaUtente {
    flex-basis: 35%;
    height: 100%;
}

.btns {
    display: flex;
    gap: 1em;
    padding-right: 1.5rem;
}

#notifiche {
    height: 70px;
    background-color: #8edafcff;
    display: flex;
    align-items: center;
    padding: 1em;
    gap: .7em;
}

#notifiche div:first-child {
    height: 2em;
    width: 2em;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8edafcff;
    font-size: 1.5rem;
}

#notifiche h1 {
    font-size: 1rem;
    font-weight: normal;
}

#notifiche a {
    color: #5a8bb7ff;
    font-size: .8rem;
}

#search {
    display: flex;
    background-color: #fafafaff;
    padding: .5em;
    height: 40px;
    align-items: center;
    justify-content: center;
}

#search button {
    background-color: white;
    padding: .5em;
    font-size: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(40px - 1em);
}

#search input {
    margin-left: 2px;
    flex-grow: 1;
    border: none;
    padding: 1em;
    height: calc(40px - 1em);
}

#chatList {
    height: calc(100% - 160px);
    overflow-y: scroll;
    background-color: white;
}

.chat {
    position: relative;
    border-top: 1px solid #f5f5f5ff;
}

.ora {
    position: absolute;
}

.chat .ora {
    top: .5em;
    right: .5em;
}

#chatAperta {
    flex-basis: 65%;
    height: 100%;
}

#myProfile, #interlocutore {
    height: 50px;
    background-color: #eaeaeaff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px
}

#interlocutore {
    border-left: 1px solid #d9d9d9ff;
}

#conversazione {
    height: calc(100% - 100px);
    background-image: url(img/mine.jpg);
    overflow-y: scroll;
    padding: 3em 5em;
}

.messaggio {
    display: flex;
    margin: .5em 0;
}

.messaggio.inviato {
    justify-content:flex-end;
}

.inviato .text{
    background-color: #d5f9baff;
}

.ricevuto .text{
    background-color: white;
}

/* FIXME: Overflow */
.text {
    padding: 1em 1em 1.5em;
    border-radius: 7px;
    max-width: 220px;
    position: relative;
}

.text .ora {
    bottom: .5em;
    right: .5em;
}

#textArea {
    height: 50px;
    background-color: #f3eeeaff;
    display: flex;
    padding: 5px;
}

button {
    flex-basis: 50px;
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    color: var(--icons-color);
}

#textArea input {
    flex-grow: 1;
    padding: 5px;
}

.active {
    background-color: #e9ebebff;
}